hr {
  width: 100%;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    background-color: #181a1b;
    color: #e8e6e3;
  }

  a {
    color: #3391ff
  }

  table.logs .fatal {
    background-color: #600;
    color: unset;
  }
}


body.login,
body.scheduled-actions,
body.remote-control {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
}


body.home,
body.levels,
body.logs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home h3 {
  position: relative;
}

.home .freq {
  font-size: smaller;
  margin: 0 0 0 10px;
  position: absolute;
  top: -10px;
}

table.levels td {
  padding: 0 12px;
  text-align: center;
}

table.levels td:nth-child(1) {
  text-align: left;
}

table.levels .warn {
  color: #f60;
}

table.levels .negativeDelta {
  color: rgb(19, 172, 19);
}

table.levels .highErrorRate {
  color: #e00;
}

table.levels .mediumErrorRate {
  color: #f60;
}

table.levels .lowErrorRate {
  opacity: 0.5;
}

table.logs td:nth-child(2),
table.logs td:nth-child(3) {
  text-align: center;
}

table.logs td:nth-child(4) {
  word-break: break-all;
}

table.logs .debug {
  opacity: 0.5;
}

table.logs .warn {
  color: #f60;
}

table.logs .error {
  color: #e00;
}

table.logs .fatal {
  background-color: #f55;
  color: #000;
}

.home .chart-wrapper {
  margin: 0 0 16px;
  max-width: 800px;
  width: 100%;
}


.remote-control form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.remote-control ul {
  list-style-type: none;
}

.remote-control .last {
  color: #666;
  font-size: smaller;
}

.remote-control .actions {
  display: flex;
  justify-content: center;
}


.scheduled-actions table td:nth-child(4) {
  text-align: center;
}
